# Ignore everything inside the data folder
data/*
!data/.gitkeep

figures/*
figures/

plots/*
plots/

logs/*
logs/

# Exclude older code that I want to keep just in case
old_code/

old/*
old/

models/*
models/

tuning_results/
test/models/
*.pt
*.pt2
*.ckpt
*.pdf
*.png
*.jpg
*.tfevents*
.DS_Store
.idea/
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.pytest_cache/
